.timetable {
  text-align: left;
  color: #000000;
  h1 {
    margin: 0px 0px 14px 0px;
    padding-bottom: 9px;
    border-bottom: 2px solid #68e0cf;
  }
  .contents {
    font-size: 16px;
    overflow-y: scroll;
    text-overflow: clip;
    display: flex;

    &_date {
      display: flex;
      flex-direction: column;
      width: 91px;
      height: 194px;
      background-color: #ebebeb;
      justify-content: center;
      justify-self: center;
      text-align: center;
      // justify-items: center;
    }
    &_table {
      width: 704px;
      height: 194px;
      overflow-y: auto;
    }
  }
}
