.timetable {
  text-align: left;
  color: #000000;
  h1 {
    margin: 0px 0px 14px 0px;
    padding-bottom: 9px;
    border-bottom: 2px solid #68e0cf;
  }
  .contents {
    font-size: 16px;
    overflow-y: scroll;
    text-overflow: clip;
  }
}
