.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;

  .titleLabel {
    padding: 2px 25px 2px;
    margin-top: 13px;
    border-radius: 10px;
    background: #68e0cf;
    color: #fff;
  }
  .contents {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px;
    text-align: left;
    color: #1e2023;

    .title {
      margin: 0;
      padding-bottom: 9px;
      border-bottom: 2px solid #68e0cf;
      font-size: 32px;
      font-weight: bold;
      color: #1e2023;
    }
    .detail {
      font-size: 14px;
      height: 150px;
      overflow-y: scroll;
      text-overflow: clip;
    }
  }
}
