.main-survey-pie {
  .recharts-wrapper {
    margin-bottom: 20px;
  }
  .recharts-legend-wrapper {
    right: 5px !important;
    top: 51% !important;
    bottom: 0 !important;
    left: initial !important;
    width: 210px !important;
    display: inline-block !important;
    height: 100px !important;
    transform: translate(0, -48%);
  }
  .recharts-default-legend {
    display: inline-flex;
    flex-direction: column;

    li {
      display: inline-flex !important;
      align-items: center;
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}
