.mainpage {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: calc(100% - 65px);
  margin: 0 0;
  justify-content: center;
  text-align: center;

  .main_container {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}
