.mainpage {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0;
  padding-top: 80px;
  justify-content: center;
  text-align: center;

  .background {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .main_container {
    width: 980px;
  }
}
