.qnaContainer {
  width: 400px;
  padding: 16px 20px 0;
  font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;

  .mainDate {
    height: 40px;
    line-height: 40px;
    background: #313131;
    font-size: 18px;
    text-align: center;
    color: #fff
  }
}