.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
  color: #209cff;
  padding: 14px 0;
  img {
    width: 243px;
    height: 35px;
  }
  span {
    position: absolute;
    right: 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
  }
}
