@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
}
.chatContainer {
  height: calc(100% - 36px);
  //margin-top: 38px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .chatLogBox {
    margin-top: 38px;
    width: auto;
    height: 600px;
    //height: 543px;
    text-align:left;
    overflow-y: auto;
    overflow-x: hidden;
    //z-index:-1;

    .inChatBox {
      box-sizing: border-box;
      margin: 0;
      width: 410px;
      height: auto;
      text-align:left;
      z-index:100;
    }

    .chatName {
      font-weight: 600;
      font-size:1.2em;
      margin:0;
    }

    .chatContent {
      display: block;
      word-wrap: break-word;
      word-break: keep-all;
      margin-top:0;
    }

  }

  form {
    .chatBox {
      width: 100%;
      //height: 140px;

      input {
        padding: 0;
        margin-top: 10px;
        width: 100%;
        height: 150px;
        border: none;
        line-height: 150%;

        &:focus {
          outline: none;
        }
      }
    }

    .chatEnterIcon {
      margin-top: 0;
      border: none;
      cursor: pointer;
      width: 100%;
      height: 30px;
      background: url('../../../assets/images/enter.png') center center no-repeat;
      background-size: cover;

      &:focus {
        outline: none;
      }
    }
  }
}
