@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
}
.chatContainer {
  height: calc(100% - 58px);
  //margin-top: 38px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .chatLogBox {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 15px;
    width: auto;
    height: 600px;
    text-align:left;
    overflow-y: auto;
    overflow-x: hidden;
    //z-index:-1;

    img {
      position: absolute;
      height: 113px;
      margin-top: 200px;
    }
    .inChatBox {
      box-sizing: border-box;
      margin: 0;
      padding: 10px 15px 10px 10px;
      border-top: 1px solid #cccccc;
      width: 410px;
      height: auto;
      text-align:left;
      z-index:100;
      &:first-child {
        border-top: 0;
      }

      &.me {
        //text-align: right;
        //padding-right: 15px;
        .chatName {
          color: #ff6666;
        }
      }
      .chatName {
        font-weight: 600;
        font-size: 1.2em;
        margin:0;
        em {
          font-style: normal;
          font-size: 0.8em;
        }
      }
      .chatContent {
        display: block;
        word-wrap: break-word;
        white-space: pre-line;
        //word-break: keep-all;
        margin:0;
      }
    }
  }

  form {
    .chatBox {
      width: 100%;
      //height: 140px;

      textarea {
        padding: 0 0 0 5px;
        margin-top: 10px;
        width: 100%;
        height: 120px;
        border: none;
        //line-height: 150%;
        resize: none;

        &::placeholder {
          font-weight: normal;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .chatEnterIcon {
      margin-top: 0;
      border: none;
      cursor: pointer;
      width: 100%;
      height: 30px;
      background: url('../../../assets/images/enter.png') center center no-repeat;
      background-size: cover;

      &:focus {
        outline: none;
      }
    }
  }
}
