@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css');

@font-face {
  font-family: AnjaElianeaccent-Nornal;
  src: url(./assets/font/AnjaEliane.ttf) format('truetype');
}

@font-face {
  font-family: RecipeKorea;
  src: url(./assets/font/Recipekorea.ttf) format('truetype');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
  width: 100%;
}
